@font-face {
    font-family: Sacramento;
    src: url('fonts/Sacramento/Sacramento-Regular.ttf');
}
@font-face {
    font-family: Merriweather;
    src: url('fonts/Merriweather/Merriweather-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Black.ttf');
}



body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: white;

}

h1 {
    color: #66BFBF;
    margin: 00px auto 0 auto;
    font-family: 'Sacramento', serif;
    font-size: 90px;
    margin-top: 50px;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: serif;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #11999e;
}

span {
    text-decoration: underline;
}

#top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 32%;
    padding: 20px 0 0 0;
}

.top-cloud {
    position: relative;
    left: 15%;
    padding: 0 0 20px 0;
}

.profilepic {
    border-radius: 50%;
    width: 15%;
    padding-top: 50px;
    
}

.codingimg {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;  
}

.tennispic {
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.bottom-hr {
    border: none;
    border-top:8px dotted #eaf6f6;
    width: 8%;
    margin: 15% auto 5% auto;
}

.top-hr {
    border: none;
    border-top:8px dotted #eaf6f6;
    width: 8%;
    margin: 5% auto 5% auto;
}

.intoduction-description {
    width: 50%;
    margin: auto;
    line-height: 2;
    margin-bottom: 3%;
}

.margin {
    margin-bottom: 50px;
}

.bottom-container {
    background-color: #66bfbf;
    margin: 5% auto auto auto;
    padding: 100px 0 20px 0;
}

.code-skill-description {
    margin-bottom: 25%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 40px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Merriweather;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  




